@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  padding: 9rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  min-height: 100vh;
  width: 100%;
}
#section {
  margin: auto;
  width: 100%;
  height: 100%;
  background: black;
  position: relative;
  background-image: url(images/stock-street.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px rgb(255, 255, 255);
}
#content {
  padding: 1rem 3rem 2rem 3rem;
}
#content h2 {
  color: rgb(255, 255, 255);
  font-size: 7rem;
}
#output {
  background: rgb(255, 255, 255);
}
span {
  color: rgb(255, 0, 0);
}
input {
  padding: 0.8rem;
  margin: 1rem 2rem 1rem 1rem;
  outline: none;
  cursor: pointer;
  text-align: center;
  color: black;
  font-weight: bold;
  background: rgba(252, 252, 252, 0.856);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.089);
  border: none;
}
button {
  padding: 0.8rem;
  margin: 1rem 2rem 1.5rem 1rem;
  width: 10rem;
  outline: none;
  cursor: pointer;
  text-align: center;
  color: black;
  font-weight: bold;
  border: none;
  background: rgb(252, 252, 252);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
#logo {
  margin: 0.5rem 0 0 2rem;
  color: white;
  font-size: 3rem;
  font-family: 'Caveat', cursive;
  cursor: pointer;
}
#section .sadTheme {
  background-image: url('./images/sad.jpg');
  background-size: 100% 100%;
}

#section .happyTheme {
  background-image: url('./Images/happy.jpg');
  background-size: 100% 100%;
}

.noBg {
  background-image: url('');
}
.header a {
  color: white;
  margin-left: 96rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  font-weight: 700;
}
#btn:hover,
#reset:hover {
  color: white;
  background: rgba(179, 33, 33, 0.774);
}
#output {
  color: black;
}
